body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

.navbar {
    background-color: #0f1a2c;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 100px;
    width: auto;
    border-radius: 10px;
    object-fit: contain;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
}

.hero {
    background: url('../img/banner.jpg') center/cover no-repeat;
    height: 70vh;
    display: flex;
    align-items: center;
    padding-left: 40px;
    color: white;
}

.hero-text h2 {
    font-size: 36px;
}

.btn {
    background-color: #d4a373;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}

.cards {
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

.card {
    width: 30%;
    background: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
}

.galeria {
    display: flex;
    gap: 15px;
    padding: 30px;
}

.galeria img {
    width: 30%;
    border-radius: 8px;
}

.contato form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    gap: 10px;
}

.btn-whatsapp {
    display: block;
    text-align: center;
    background: green;
    color: white;
    padding: 12px;
    margin-top: 15px;
    text-decoration: none;
}

.logo-footer {
    height: 40px;
    display: block;
    margin: 0 auto 10px;
}